.switch_options {display: block;}
.switch_options:before, .switch_options:after {content: ".";display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.switch_options:after {clear: both;}
.switch_options span {display: inline-block;float: left;padding: 4px 9px;margin: 0;cursor: pointer;font-size: 12px;font-weight: normal;color: #555;border: 1px solid #aaa;text-transform: uppercase;line-height: 16px;background: #fff;background: -moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));background: -webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);background: -o-linear-gradient(top,#fff 0%,#e5e5e5 100%);background: -ms-linear-gradient(top,#fff 0%,#e5e5e5 100%);background: linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e5e5e5",GradientType=0);}
.switch_options span:first-of-type {border-radius: 2px 0 0 2px;border-right: 0;}
.switch_options span:last-of-type {border-radius: 0 2px 2px 0;border-left: 0;}
.switch_options span:hover {background: #fafafa;}
.switch_options span.selected {background: #00b7ea;background: -moz-linear-gradient(top,#00b7ea 0%,#009ec3 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00b7ea),color-stop(100%,#009ec3));background: -webkit-linear-gradient(top,#00b7ea 0%,#009ec3 100%);background: -o-linear-gradient(top,#00b7ea 0%,#009ec3 100%);background: -ms-linear-gradient(top,#00b7ea 0%,#009ec3 100%);background: linear-gradient(to bottom,#00b7ea 0%,#009ec3 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b7ea",endColorstr="#009ec3",GradientType=0);border-color: #0082a3;color: #fff;}
.customize-control #editorial-img-container li {float: left;}
.customize-control #editorial-img-container li label {margin-left: 5px;}
.customize-control-radio .editorial-radio-img-img {border: 3px solid #dedede;margin: 0 5px 5px 0;cursor: pointer;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.customize-control-radio .editorial-radio-img-selected {border: 3px solid #aaa;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#customize-controls .control-section-upsell .accordion-section-title:hover, #customize-controls .control-section-upsell .accordion-section-title:focus {background-color: #fff;}
.control-section-upsell .accordion-section-title .button {margin-top: -4px;font-weight: 700;margin-left: 8px;border-color: #029fb2;background-color: #029fb2;color: #fff;}
.control-section-upsell .accordion-section-title .button:hover {background-color: #006d80;}
.rtl .customize-control #editorial-img-container li {float: right;}
.rtl .customize-control #editorial-img-container li label {margin: 0 0 0 15px;}
.rtl .switch_options {float: right;}
.mt-imp-link {font-weight: 500;background: #01aefd;padding: 10px 10px;color: #fff !important;text-align: center;display: block;margin-top: 5px;line-height: 1.5;box-shadow: none;font-style: normal;text-decoration: none;}
.mt-imp-link:focus {box-shadow: none !important;}
.mt-imp-link:hover {background: #19c6af;}
.customize-pane-parent .control-section .accordion-section-title:before {font-family: dashicons;content: "";font-size: 20px;margin-right: 5px;vertical-align: middle;}
#accordion-section-theme_upsell .accordion-section-title:before {content: "";}
#accordion-section-editorial_imp_link_section .accordion-section-title:before {content: "";}
#accordion-panel-editorial_general_settings_panel .accordion-section-title:before {content: "";}
#accordion-panel-editorial_header_settings_panel .accordion-section-title:before {content: "";}
#accordion-panel-editorial_design_settings_panel .accordion-section-title:before {content: "";}
#accordion-panel-editorial_additional_settings_panel .accordion-section-title:before {content: "";}
#accordion-panel-nav_menus .accordion-section-title:before {content: "";}
#accordion-panel-widgets .accordion-section-title:before {content: "";}
#accordion-section-custom_css .accordion-section-title:before {content: "";}