@media (min-width: 1000px) {#site-navigation {display: block !important;}}
@media (max-width: 1200px) {.boxed_layout #page {width: 100%;}
	.mt-container {width: 100%;padding: 0 2%;}}
@media (max-width: 979px) {.site-branding {float: none;text-align: center;}
	.custom-logo-link {margin: 0 0 15px;}
	.mt-featured-slider-wrapper, .featured-post-wrapper {float: none;margin: 0;width: 100%;}
	.editorialSlider img {width: 100%;}
	.featured-post-wrapper {margin-top: 12px;}
	.featured-slider-section .editorial_block_grid .post-meta-wrapper {display: none;}
	.featured-slider-section .editorial_block_grid .post-content-wrapper .post-title a {font-size: 15px;}}
@media (min-width: 769px) and (max-width: 1200px) {#site-navigation {display: block !important;}}
@media (max-width: 768px) {.home-primary-wrapper, .home-secondary-wrapper {float: none;width: 100%;}
	#top-footer.column1 .mt-footer-widget, #top-footer.column2 .mt-footer-widget, #top-footer.column3 .mt-footer-widget, #top-footer.column4 .mt-footer-widget {float: none;margin: 0;width: 100%;}
	.mt-footer-widget-wrapper {margin-left: 0;}
	.menu-toggle {display: block;}
	#site-navigation {background: #f2f2f2 none repeat scroll 0 0;display: none;left: 0;position: absolute;top: 100%;width: 100%;z-index: 99;}
	.bottom-header-wrapper {position: relative;}
	#site-navigation ul li {display: block;float: none;}
	.sub-toggle {background: #f54337 none repeat scroll 0 0;color: #fff;cursor: pointer;display: block;height: 24px;line-height: 25px;position: absolute;right: 15px;text-align: center;top: 6px;width: 24px;}
	#site-navigation ul > li:hover > .sub-toggle, #site-navigation ul > li.current-menu-item .sub-toggle, #site-navigation ul > li.current-menu-ancestor .sub-toggle {background: #ba2a1a;}
	.main-small-navigation li.current-menu-item > .sub-toggle {background: #fff none repeat scroll 0 0;}
	.main-small-navigation li.current-menu-item > .sub-toggle i {color: #d40234;}
	.menu-primary-container .sub-menu, #site-navigation li.menu-item-has-children > a::after {display: none;}
	#site-navigation ul.sub-menu, #site-navigation ul.children {position: static;min-width: 100%;opacity: 1;top: 0;left: 0;visibility: visible;display: none;background: none;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;}
	#site-navigation ul > li:hover > .sub-menu, #site-navigation ul > li:hover > .children {top: 0;}
	#primary, .home.blog #primary, #secondary, .home.blog #secondary, .left-sidebar #secondary, .left-sidebar #primary {float: none;width: 100%;}
	#secondary, .home.blog #secondary {margin-top: 20px;}
	.search-results .entry-title, .archive .entry-title, .single .entry-title, .entry-title {font-size: 18px;}
	.archive.archive-classic .entry-title a::after {bottom: -10px;}}
@media (max-width: 600px) {.editorial_block_grid .column-3-layout .single-post-wrapper {margin: 0 0 12px;width: 100%;}
	.editorial_block_grid .column-3-layout .block-posts-wrapper {margin: 0;}
	.editorial_block_grid .single-post-wrapper img {width: 100%;}
	.featured-slider-section .editorial_block_grid .post-content-wrapper .post-title a {font-size: 18px;}
	.editorial_block_grid .column-2-layout .single-post-wrapper, .editorial_block_grid .column-3-layout .single-post-wrapper, .editorial_block_grid .column-4-layout .single-post-wrapper, .home-primary-wrapper .editorial_block_column {float: none;margin-left: 0;width: 100%;}
	.mt-column-wrapper, .editorial_block_grid .block-posts-wrapper, .home-primary-wrapper .editorial_block_column-wrap {margin-left: 0;}
	.mt-column-1, .mt-column-2, .mt-column-3, .mt-column-4 {margin: 0 0 20px;width: 100%;float: none;}
	.top-social-wrapper {display: block;float: none;text-align: center;}
	.top-header-section .date-section, #top-header-navigation {display: inline-block;float: none;}
	.top-left-header {text-align: center;margin-bottom: 5px;}
	#bottom-footer .site-info, #footer-navigation {float: none;text-align: center;margin: 5px 0;}
	.featured-slider-section .editorial_block_grid .post-meta-wrapper {display: block;}
	.archive-columns .archive-content-wrapper article {margin-left: 0;width: 100%;}
	.archive-columns .archive-content-wrapper {margin-left: 0;}
	.archive-columns .archive-content-wrapper article img {width: 100%;}
	.ticker-caption::after {display: none;}
	.ticker-caption {display: block;float: none;padding: 5px 0;text-align: center;width: 100%;}
	.ticker-content-wrapper {width: 100%;}}
@media (max-width: 480px) {.editorial_featured_slider .slide-title {line-height: 24px;}
	.editorial_featured_slider .slide-title a {font-size: 16px;line-height: 10px;}
	.featured-left-section, .featured-right-section {float: none;width: 100%;}
	.featured-right-section {margin-top: 10px;}
	.editorial_block_list .post-thumb-wrapper {float: none;width: 100%;}
	.editorial_block_list .post-content-wrapper {float: none;margin-bottom: 20px;width: 100%;}}