pre.changelog {background-color: #f5f5f5;background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(50%,#f5f5f5),color-stop(50%,#e6e6e6));background-image: -webkit-linear-gradient(#f5f5f5 50%,#e6e6e6 50%);background-image: linear-gradient(#f5f5f5 50%,#e6e6e6 50%);background-size: 50px 54.35px;border: 1px solid #d4d4d4;display: block;line-height: 19px;line-height: 1.7;margin-bottom: 10px;overflow: visible;overflow-y: hidden;padding: 0 0 0 4px;font-size: 16px;font-weight: 500;}
pre.changelog span {font-weight: 700;}
.return-to-dashboard.editorial {clear: both;text-align: right;}
table {width: 100%;border-collapse: collapse;}
td {text-align: center;}
.about-wrap {max-width: 100%;}
.about-wrap h1 {display: block;text-align: center;width: 100%;font-size: 38px;font-weight: 600;}
.welcome-description-wrap {display: inline-block;width: 100%;margin: 20px 0;}
.about-wrap .about-text {margin: 20px 10px;width: 100%;float: left;}
.editorial-screenshot {float: right;width: 30%;margin: 20px 10px;}
.about-wrap table td h3 {margin: 15px 20px;padding-left: 20px;text-align: left;text-align: center;font-size: 16px;}
.mt-nav-content-wrap table td, .mt-nav-content-wrap table th {border-right: 1px solid #e1e1e1;}
.mt-nav-content-wrap table th h3 {margin: 10px 0;font-weight: 700;}
table td {font-weight: 600;font-size: 16px;}
.wrap table td .dashicons {font-size: 44px;text-align: center;line-height: 20px;display: block;width: 100%;}
.wrap table {border: 1px solid #e1e1e1;border-collapse: collapse;}
.wrap table th {width: 33%;}
.wrap table th:first-child {background-color: rgba(0,0,0,.03);}
.about-wrap table td .table-desc {font-size: 15px;margin: 20px;padding-left: 20px;display: block;text-align: left;}
.about-wrap table .table-feature-title > h3 {color: #404040;}
.wrap table th h3 {color: #ce2d2d;}
.wrap table th:last-child h3 {color: #24b37e;}
.mt-nav-content-wrap table th {background: #f3f3f3;}
tr:nth-child(2n) {background-color: #f8f8f8;}
.wrap table td span {font-size: 25px;}
.wrap table td .dashicons.dashicons-no {color: #ce2d2d;}
.wrap table td .dashicons.dashicons-yes {color: #24b37e;}
table tr .btn-wrapper {padding: 10px 0;}
.theme-browser {margin-top: 15px;}
.theme-browser .theme .theme-actions, .theme-browser .theme.active .theme-actions {position: absolute;bottom: 0;top: auto;-webkit-transform: none;transform: none;right: 0;padding: 9px 15px;box-shadow: inset 0 1px 0 rgba(0,0,0,.1);}
.author-credit .theme-version {font-style: italic;}
.author-credit .author-link a {text-decoration: none;}
.author-credit .author-link {margin: 15px 0 25px;color: #72777c;font-size: 16px;font-weight: 400;line-height: inherit;}
.rtl .about-wrap .about-text {float: right;}
.rtl .editorial-screenshot {float: left;}
.rtl .theme-browser .theme .theme-name, .rtl .theme-browser .theme.active .theme-name {text-align: left;}
.rtl .theme-browser .theme.active .theme-name {padding-left: 5%;}
.rtl .theme-browser .theme.active .theme-actions {left: 90%;}
.rtl .theme-browser .theme .theme-actions {left: 35%;}
@media (max-width: 1400px) {.about-wrap h1 {font-size: 30px;}
	.about-wrap .about-text {font-size: 16px;}}
@media (max-width: 1200px) {.about-wrap .about-text {font-size: 14px;}
	.about-wrap table td h3, .about-wrap table td {font-size: 14px;}}
@media (max-width: 980px) {.about-wrap h1 {font-size: 25px;}
	.about-wrap .about-text, .editorial-screenshot {float: none;width: 100%;}}
.mt-clearfix:after {clear: both;content: "";display: block;}
.mt-theme-info {background: #fff;padding: 10px 20px;}
.mt-welcome-screenshot {width: 42%;float: right;border: 1px solid #e1e1e1;padding: 10px;margin: 0;}
.welcome-description-wrap {margin: 0;}
.about-wrap .mt-about-title {display: block;float: left;width: auto;font-size: 24px;font-weight: 700;margin: 0;text-transform: uppercase;vertical-align: middle;margin-right: 20px;}
.about-wrap .author-credit {display: block;font-size: 13px;float: right;margin-top: 4px;}
.author-credit .author-link {font-size: 13px;}
.about-wrap .about-text {font-size: 14px;margin: 10px 0 0;}
.about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a {display: block;float: none;}
.mt-nav-tab-content-wrapper {display: flex;flex-wrap: wrap;margin-top: 30px;}
.nav-tab-wrapper {width: 18%;padding: 0;}
.mt-nav-content-wrap {width: 82%;background: #fff;padding: 0px 40px 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a {display: block;float: none;background: #fff;border: none;padding: 20px 20px;border-top: 1px solid #e1e1e1;border-left: 5px solid transparent;margin-left: 0;font-size: 16px;}
.about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a:first-child {border-top: none;}
.about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a.nav-tab.nav-tab-active, .about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a:hover {border-left: 5px solid #0071a1;color: #0071a1;}
.about-wrap .mt-nav-tab-content-wrapper .nav-tab-wrapper a .dashicons {font-size: 26px;margin: 0 15px 0px 0;vertical-align: top;position: relative;top: 0;}
.about-wrap .theme-features-wrap .two-col {margin-left: -3%;display: flex;flex-wrap: wrap;}
.about-wrap .theme-features-wrap .two-col .col {border: 1px solid #e1e1e1;width: 47%;margin-left: 3%;padding: 20px;margin-right: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.about-wrap .theme-features-wrap .two-col .col h3 {margin: 0;}
.mt-theme-demos .mt-each-demo {width: 30.33%;margin-left: 3%;margin-top: 3%;margin-right: 0;box-shadow: 0 0 8px rgba(0,0,0,.1);box-sizing: border-box;}
.mt-theme-demos .themes {display: flex;flex-wrap: wrap;margin-left: -3%;}
.mtdi-preview-screenshot a {height: 290px;display: block;overflow: hidden;}
.theme-id-container h2 {font-size: 15px;font-weight: 600;height: 18px;margin: 0;padding: 15px;box-shadow: inset 0 1px 0 rgba(0,0,0,.1);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background: #f6f6f6;text-align: left;}
.theme-id-container .theme-actions {position: absolute;bottom: 0;top: auto;-webkit-transform: none;transform: none;right: 0;padding: 9px 15px;box-shadow: inset 0 1px 0 rgba(0,0,0,.1);}
.theme-id-container .theme-actions a {display: inline-block;margin: 0 5px;float: none;}
table tr .btn-wrapper .button {font-size: 16px;padding: 5px 50px;font-weight: 600;}
.about-wrap .mt-upgrader-title {margin: 0 0 10px;font-size: 22px;font-weight: 700;}
.mt-upgrader-pro {background: #fff;padding: 20px;margin-top: 30px;display: flex;flex-wrap: wrap;}
.mt-upgrade-title-wrap {width: 85%;}
.mt-upgrader-btn {width: 15%;}
.wp-core-ui .mt-upgrader-btn a {font-size: 18px;width: 100%;display: block;text-align: center;padding: 10px 0;font-weight: 600;}
.welcome-panel h4 {margin-top: 0;}
.mt-popup-inner-wrap {padding: 4px 30px;margin-top: 30px;}
.mt-dashicons-no::before {display: inline-block;width: 30px;height: 30px;content: "";background-image: url("../images/cross.png");background-size: 30px auto;}
.mt-dashicons-yes::before {display: inline-block;width: 30px;height: 30px;content: "";background-image: url("../images/tick.png");background-size: 30px auto;}
.theme-features-wrap.welcome-panel {border: none;padding: 0;}
.about-wrap .about-description {margin-top: 0;font-weight: 700;color: #333;}
.about-wrap .theme-features-wrap .two-col .col li {display: inline-block;width: 48%;vertical-align: top;margin: 8px 0;}
.about-wrap .changelog {background-size: 0;background: #fafafa;border: none;padding: 20px 20px;}
a.notice-dismiss {text-decoration: none;}
@media (max-width: 1400px) {.about-wrap .theme-features-wrap .two-col .col {border: 1px solid #e1e1e1;width: 47%;}
	.nav-tab-wrapper {width: 20%;}
	.mt-nav-content-wrap {width: 80%;}
	.mt-theme-demos .mt-each-demo {width: 47%;}
	.mt-upgrade-title-wrap {width: 75%;}
	.mt-upgrader-btn {width: 25%;}
	.about-wrap .theme-features-wrap .two-col .col li {width: 100%;}}